.form {
  float: center;
  margin-left: 0;
  font-family: "Roboto Slab", serif;
  margin-top: 3.5rem;
}
.submit {
  background: #000000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  margin-bottom: 3.5rem;
  height: 4rem;
  font-family: "Roboto Slab", serif;
}
.btn:hover {
  background-color: #e9c0d4;
  color: rgb(245, 245, 245);
}
.form-group {
  color: rgb(250, 250, 250);
  font-size: 1.5rem;
}
.form,
.btn {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04),
    3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04),
    0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04),
    7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04),
    9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04),
    11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04),
    13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04),
    0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04),
    17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04),
    19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}
.form-control {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.formLable {
  float: left;
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .form {
    margin-top: 18rem;
  }
  .submit {
    margin-top: 3rem;
    margin-bottom: 35rem;
  }
}

/* 2532x1170 pixels at 460ppi */
@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  .from {
    margin-top: 18rem;
  }
  .submit {
    margin-top: 3rem;
    margin-bottom: 35rem;
  }
}

/* 2778x1284 pixels at 458ppi */
@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
  .form {
    margin-top: 18rem;
  }
  .submit {
    margin-top: 3rem;
    margin-bottom: 35rem;
  }
}
