.main {
  width: 100%;
  height: auto;
  position: relative;
  margin: 0 auto; /* Center it */
  color: white;
  font-family: "Roboto Slab", serif;
}

img.picture {
  border: 1px solid #ddd;
  height: auto;
  width: 100%;
  position: relative;
  margin-bottom: 2rem;
}
.intro {
  top: 100px;
  right: 15px;
  left: 5px;
  background: rgba(0, 0, 0, 0.5);
  width: 100%; /* Full width */
  padding: 1rem;
}
.head {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 600;
}
.content {
  width: 100%;
  padding-left: 1rem;
}

i {
  font-size: 3rem;
  padding-left: 1rem;
}
i:hover,
i:hover {
  color: rgb(214, 189, 189);
}
.social {
  display: inline-block;
  padding: 5px;
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .main {
    width: 100%;
    height: auto;
    margin-top: 2.4rem;
  }
  .head {
    font-size: 7rem;
  }
  .intro {
    width: 100%;
    padding-top: 7.5rem;
    height: 52rem;
  }
  .social {
    padding-top: 7rem;
  }
  img.picture {
    height: 43rem !important;
    width: 100%;
    margin-top: 0.2rem;
    position: relative;
    margin-bottom: 2rem;
  }
  p.content {
    font-size: 2.5rem;
  }
}

/* 2532x1170 pixels at 460ppi */
@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  .main {
    width: 100%;
    height: auto;
    margin-top: 2.4rem;
  }
  .head {
    font-size: 7rem;
  }
  .intro {
    width: 100%;
    padding-top: 7.5rem;
    height: 52rem;
  }
  .social {
    padding-top: 7rem;
  }
  img.picture {
    height: 43rem !important;
    width: 100%;
    margin-top: 0.2rem;
    position: relative;
    margin-bottom: 2rem;
  }
  p.content {
    font-size: 2.5rem;
  }
}

/* 2778x1284 pixels at 458ppi */
@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
  .main {
    width: 100%;
    height: auto;
    margin-top: 2.4rem;
  }
  .head {
    font-size: 7rem;
  }
  .intro {
    width: 100%;
    padding-top: 7.5rem;
    height: 52rem;
  }
  .social {
    padding-top: 7rem;
  }
  img.picture {
    height: 43rem !important;
    width: 100%;
    margin-top: 0.2rem;
    position: relative;
    margin-bottom: 2rem;
  }
  p.content {
    font-size: 2.5rem;
  }
}
