h1.promo {
  color: white;
}

p.promo {
  color: white;
  opacity: 0.3;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  font-size: 2rem;
  font-family: "Open Sans Condensed", sans-serif;
  margin-bottom: 17rem;
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  h1.promo {
    margin-top: 6rem;
  }
  p.promo {
    margin-top: 27rem;
    margin-bottom: 45rem;
  }
}

/* 2532x1170 pixels at 460ppi */
@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  h1.promo {
    margin-top: 6rem;
  }
  p.promo {
    margin-top: 27rem;
    margin-bottom: 45rem;
  }
}

/* 2778x1284 pixels at 458ppi */
@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
  h1.promo {
    margin-top: 6rem;
  }
  p.promo {
    margin-top: 27rem;
    margin-bottom: 45rem;
  }
}
